In [10]:
from pathlib import Path
import pandas as pd

DATA_PATH = Path("__file__").parents[0] / "data"

df=pd.read_csv(DATA_PATH / "OECD PISA data.csv")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2087 entries, 0 to 2086
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   index      2087 non-null   int64
 1   LOCATION   2087 non-null   object
 2   INDICATOR  2087 non-null   object
 3   SUBJECT    2087 non-null   object
 4   TIME       2087 non-null   int64
 5   Value      2087 non-null   float64
dtypes: float64(1), int64(2), object(3)
memory usage: 98.0+ KB

In [16]:
# number of countries
number=len(df['LOCATION'].unique())

# number of rows 
rows=df['LOCATION'].count()

np.int64(2087)

In [21]:
number=len(df['LOCATION'].unique())
#df['LOCATION'].unique
df['SUBJECT'].unique()

array(['BOY', 'GIRL', 'TOT'], dtype=object)

In [22]:
df[df['SUBJECT']=='TOT']

      index LOCATION    INDICATOR SUBJECT  TIME  Value
446     446      AUS     PISAMATH     TOT  2003  524.0
447     447      AUS     PISAMATH     TOT  2006  520.0
448     448      AUS     PISAMATH     TOT  2009  514.0
449     449      AUS     PISAMATH     TOT  2012  504.0
450     450      AUS     PISAMATH     TOT  2015  494.0
...     ...      ...          ...     ...   ...    ...
2074   2074      SGP  PISASCIENCE     TOT  2015  556.0
2075   2075      TWN  PISASCIENCE     TOT  2015  532.0
2078   2078      MAC  PISASCIENCE     TOT  2015  529.0
2081   2081      CRI  PISASCIENCE     TOT  2018  416.0
2084   2084      LTU  PISASCIENCE     TOT  2018  482.0

[701 rows x 6 columns]